<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Gcal-Lifelog</title>
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          <div v-if="state.hasActivity">
            title: {{ activity.title }}, start: {{ new Date(activity.startTime) }}
            <v-btn v-on:click="stopActivity">stop</v-btn>
          </div>
          <div v-else>
            <input v-model="form.activity.title" placeholder="type title...">
            <v-btn v-on:click="startActivity">start</v-btn>
            <p>Title is: {{ form.activity.title }}</p>
          </div>
        </v-container>
        <v-container>
          <p>Tasks in a day</p>
          <ol>
            <li v-for="task in tasks">
              {{ task.title }}
            </li>
          </ol>
        </v-container>
        <div class="text-center">
          <v-btn>Button</v-btn>
        </div>
      </v-content>
    </v-app>
  </div>
</body>
</html>
