<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Gcal-Lifelog</title>
</head>
<body>
  <div id="app">
    <div>
      <p>{{ state.hasActivity }}</p>
      <div v-if="state.hasActivity">
        title: {{ activity.title }}, start: {{ new Date(activity.startTime) }}
      </div>
      <div v-else>
        <input v-model="form.activity.title" placeholder="type title...">
        <button v-on:click="startActivity">submit</button>
        <p>Title is: {{ form.activity.title }}</p>
      </div>
    </div>
    <div>
      <ol>
        <li v-for="task in tasks">
          {{ task.title }}
        </li>
      </ol>
    </div>
  </div>
</body>
</html>
